{% extends 'base.html' %}
{% block content %}

<!-- Page Top Section -->
<section class="page__section">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 m-auto">
                <h1 class="text-center"><b>PASSWORD RESET SUCCESSFULLY</b></h1>
                <hr />
                <p class="text-center">You are successfully reset your password. Click <a href="{% url 'login' %}">here</a> to login.</p>
            </div>
        </div>
    </div>
</section>
{% endblock %}