{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<!-- Page Top Section -->
<section class="page__section">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 m-auto">
                <h1 class="text-center"><b>Register</b></h1>
                <hr />
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{form|crispy}}
                    <div class="d-grid gap-2">
                        <button type="submit" class="btn btn-primary btn-block">Register</button>
                    </div>
                </form>
                <p class="mt-3">Don't have an account? <a href="{% url 'login' %}">Login Here</a></p>
            </div>
        </div>
    </div>
</section>
{% endblock %}